name: Makefile CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: install libcurl
      run: |
        sudo apt-get update
        sudo apt-get install libcurl4-openssl-dev

    - name: make
      run: make

    - name: test
      run: make test

  build-win:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v3

      - name: install cygwin
        uses: cygwin/cygwin-install-action@master
        with:
          packages: curl, libcurl-devel, libcurl4, make, gcc-core

      - name: make
        run: make

      - name: test
        run: make test
